

body {
	margin: 0;
	width: 100%;
	max-width: 1400px;
	height: 100%;

}

.wrapper {
	min-height: 100%;
	overflow: auto;
}

header {
	margin: 0 auto;
	width: 100%;
	
}

.main {
	margin: 0 auto;

}

footer {

}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

h1 {
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: 900;
	font-size: 42px;
	line-height: 50px;
	text-align: center;
	letter-spacing: -0.02em;

	color: #000000;
}

#hh2 {
	width: 80%;
	margin: 5% 10% 0 10%;
}

#hh1 {
	width: 80%;
	margin: 0 auto;
}

#hh3 {
	width: 80%;
	margin: 0 auto;
	font-size: 16px;

}

h2 {
	margin: 0 auto;

	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	text-align: center;
	letter-spacing: -0.02em;

	color: #090000;
}

.video-container {
	position: relative;
	padding-bottom: 75%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe {
	position: absolute;	
	top: 0;
	left: 10%;
	width: 80%;
	height: 100%;
}

iframe {
	margin: 0 auto;
	width: 300px;
}

#img1 {
	margin: 0 10%;
	width: 80%;
}

#text {
	margin: 0 10%;
	width: 80%;
}

h3 {
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: -0.02em;

color: #000000;
}



@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700;900&display=swap');